* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: #fff;
  --bg-url: url("./assets/bg-mobile.jpg");
  --border-color: rgba(255, 255, 255, 0.5);
  --button-color: rgba(255, 255, 255, 0.1);
  --button-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-hover-color: rgba(255, 255, 255, 0.2);
  --switch-url: url("./assets/moon-stars.svg");
}
.light {
  --text-color: #000;
  --bg-url: url("./assets/bg-mobile-light.jpg");
  --border-color: rgba(0, 0, 0, 0.5);
  --button-color: rgba(0, 0, 0, 0.05);
  --button-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-hover-color: rgba(0, 0, 0, 0.1);
  --switch-url: url("./assets/sun.svg");
}
body * {
  color: var(--text-color);
  list-style: none;
  text-decoration: none;
}

body {
  /*background-image:url('./assets/bg-mobile.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; */
  background: var(--bg-url) no-repeat top center / cover;
  font-family: "Inter", "Segoe UI";
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}
.profile {
  text-align: center;
  padding: 24px;
}
.profile img {
  width: 112px;
}
.profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}
.switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}
.switch button {
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 50%;
  background: #fff var(--switch-url) no-repeat center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
  animation: slide-back 0.2s;
}
.light .switch button {
  animation: slide-in 0.2s forwards;
}
.switch button:hover {
  outline: 8px solid var(--highlight-hover-color);
}
.switch span {
  display: block;
  width: 64px;
  height: 24px;
  border: 1px solid var(--border-color);
  border-radius: 9999px;
  background: var(--button-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}
ul li a {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--button-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-weight: 500;
  transition: background 0.4s;
}
ul li a:hover {
  border: 1.5px solid var(--text-color);
  background: var(--button-color-hover);
  font-size: 17px;
}
.social-links {
  padding: 24px 0px;
  display: flex;
  justify-content: center;
  gap: 1px;
  font-size: 24px;
}
.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  transition: background 0.4s;
}
.social-links a:hover {
  background: var(--highlight-hover-color);
}
.social-links a:hover ion-icon {
  color: var(--clr);
}
footer p {
  text-align: center;
  padding: 24px 0;
  font-size: 14px;
}
@media (min-width: 700px) {
  :root {
    --bg-url: url('./assets/bg-desktop.jpg');
  }
  .light {
    --bg-url: url('./assets/bg-desktop-light.jpg');
  }
}
@keyframes slide-in {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}
@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0%;
  }
}